---
layout: default
title: "Articles"
description: "Welcome to Tech Tales from a Software Craftsman, where I share my insights and experiences in the world of programming."
keywords: efe öge, python, django
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">← Homepage</a>
  </h1>
</header>
<div class="content post">
  <h1 class="post-title">Articles</h1><br>
</div>

<div class="content list">
  <p>Welcome to <i>Tech Tales from a Software Craftsman</i>, where I share my insights and experiences in the world of programming.</p>
  <hr>
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  {% unless post.category %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_string }}</time>
    </div>
  </div>
  {% endunless %}
{% endfor %}
{% endif %}
</div>
