<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600|PT+Sans">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/public/images/various/favicon.png" />
  <script data-ad-client="ca-pub-6124459790460696" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  {% seo %}

  {% include google-analytics.html %}
</head>
<body>
  <div class="container">
    {{ content }}
  </div>
</body>
</html>
